<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="parkingEntrance">
      <h2 data-cy="parkingEntranceDetailsHeading"><span>Parking Entrance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ parkingEntrance.id }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ parkingEntrance.location }}</span>
        </dd>
        <dt><span>Primary Road Id</span></dt>
        <dd>
          <span>{{ parkingEntrance.primaryRoadId }}</span>
        </dd>
        <dt><span>Alternative Road Id</span></dt>
        <dd>
          <span>{{ parkingEntrance.alternativeRoadId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/parking-entrance', parkingEntrance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
